
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      안녕하세요, <%= @user.name %>님.
    </p>
    <p>
      방금 성공적으로 WHOPAY x <%= @group.title %> 그룹에 가지고 계시는 계정의 비밀번호를 리셋했습니다.<br>
      이제 <%= @user.email %>과 비밀번호 <strong><%= @password %></strong>을 사용해서 로그인하시면 됩니다.<br>
      지금 바로 이 비밀번호로 로그인해서 패스워드를 변경해주세요.
    </p>
    <p>
      Whopay를 이용해주셔서 감사합니다. <br>
      <br>
      Whopay Team 드림
    </p>
    <br>
    <hr />
    <br>
    <p>
      Hi, <%= @user.name %>.
    </p>
    <p>
      We have successfully reset your password in Whopay x <%= @group.title %>.<br>
      Your password is now <strong><%= @password %></strong>.<br>
      Please log in to your account (<%= @user.email %>) with this password,
      and change the password right away.
    </p>
    <p>
      Thank you for using Whopay. <br>
      <br>
      Best regards, <br>
      Whopay Team
    </p>
  </body>
</html>
